.modal-content{
    background-color: #fff0 !important;
    width: 500px;
    height: 800px;
    border: 0;
}

.modal-content > .row {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.picture-container {
    display: flex;
    justify-content: flex-end !important;
    align-items: flex-start !important;
    height: 500px;
    width: 500px;
}

.btn {
    border-radius: 0;
}

.modal-popularity {
    display: flex;
    flex-direction: column;
    color: #f6f145;
    font-size: 100px;
    font-weight: bold;    
}

.modal-title {
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.modal-artist {
    color: white;
    font-size: 20px;
}

.modal-duration {
    color: white;
    font-size: 20px;
}
